[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Group=consul
#EnvironmentFile=-/etc/default/consul
Restart=always
RestartSec=10s
#ExecStart=/usr/bin/consul agent $CONSUL_FLAGS -config-dir=/etc/consul.d
ExecStart=/usr/bin/consul agent -config-dir=/etc/consul.d
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
